.Rproj.user
.Rhistory
.RData
.Ruserdata
CD-valid/.DS_Store
CD-valid/Outcomes/.DS_Store
CD-valid/Outcomes/Pretest/.DS_Store
CD-valid/.DS_Store
CD-valid/.DS_Store
.DS_Store
eu_merge.dta
CD-valid/.DS_Store
.DS_Store
CD-valid/Input/~$EU2 GPP 2023 Codebook.xlsx
CD-valid/Input/.DS_Store
CD-valid/Outcomes/Pretest/Greece/Greece.xlsx
CD-valid/Outcomes/Pretest/Greece Validation Report.html
CD-valid/Code/Country-Report-Test.html
CD-valid/Outcomes/Pretest/Czechia/Czechia.xlsx
CD-valid/Outcomes/Pretest/Czechia/example.xlsx
CD-valid/Outcomes/Pretest/Example/example.xlsx
CD-valid/Outcomes/Pretest/Greece/Greece Validation Report.html
CD-valid/Outcomes/Pretest/Greece/Greece Validation Report.html
CD-valid/Outcomes/Pretest/Greece/Greece.xlsx
