.Rproj.user
.Rhistory
.RData
.Ruserdata
CD-valid/.DS_Store
CD-valid/Outcomes/.DS_Store
CD-valid/Outcomes/Pretest/.DS_Store
CD-valid/.DS_Store
CD-valid/.DS_Store
.DS_Store
eu_merge.dta
CD-valid/.DS_Store
.DS_Store
CD-valid/Input/~$EU2 GPP 2023 Codebook.xlsx
CD-valid/Input/.DS_Store
CD-valid/Outcomes/Pretest/Greece/Greece.xlsx
CD-valid/Outcomes/Pretest/Greece Validation Report.html
CD-valid/Code/Country-Report-Test.html
CD-valid/Outcomes/Pretest/Czechia/Czechia.xlsx
CD-valid/Outcomes/Pretest/Czechia/example.xlsx
CD-valid/Outcomes/Pretest/Example/example.xlsx
CD-valid/Outcomes/Pretest/Greece/Greece Validation Report.html
CD-valid/Outcomes/Pretest/Greece/Greece Validation Report.html
CD-valid/Outcomes/Pretest/Greece/Greece.xlsx
.DS_Store
CD-valid/.DS_Store
CD-valid/Outcomes/Pretest/Cyprus/Cyprus Validation Report.html
CD-valid/Outcomes/Pretest/Cyprus/Cyprus.xlsx
CD-valid/Outcomes/Pretest/Portugal/Portugal Validation Report.html
CD-valid/Outcomes/Pretest/Portugal/Portugal.xlsx
CD-valid/Outcomes/Pretest/Malta/Malta Validation Report.html
CD-valid/Outcomes/Pretest/Malta/Malta.xlsx
CD-valid/Outcomes/Pretest/Bulgaria/Bulgaria Validation Report.html
CD-valid/Outcomes/Pretest/Bulgaria/Bulgaria.xlsx
CD-valid/Outcomes/Pretest/Ireland/Ireland Validation Report.html
CD-valid/Outcomes/Pretest/Ireland/Ireland.xlsx
CD-valid/Outcomes/Pretest/Lithuania/Lithuania Validation Report.html
CD-valid/Outcomes/Pretest/Lithuania/Lithuania.xlsx
CD-valid/Outcomes/Pretest/Luxembourg/Luxembourg Validation Report.html
CD-valid/Outcomes/Pretest/Luxembourg/Luxembourg.xlsx
CD-valid/Input/eu_merge_v1.dta
CD-valid/Outcomes/Pretest/Austria/Austria Validation Report.html
CD-valid/Outcomes/Pretest/Austria/Austria.xlsx
CD-valid/Outcomes/Pretest/Belgium/Belgium Validation Report.html
CD-valid/Outcomes/Pretest/Belgium/Belgium.xlsx
CD-valid/Outcomes/Pretest/Czechia/Czechia Validation Report.html
CD-valid/Outcomes/Pretest/Denmark/Denmark.xlsx
CD-valid/Outcomes/Pretest/Estonia/Estonia Validation Report.html
CD-valid/Outcomes/Pretest/Denmark/Denmark Validation Report.html
CD-valid/Outcomes/Pretest/Finland/Finland Validation Report.html
CD-valid/Outcomes/Pretest/Estonia/Estonia.xlsx
CD-valid/Outcomes/Pretest/Finland/Finland.xlsx
CD-valid/Outcomes/Pretest/France/France Validation Report.html
CD-valid/Outcomes/Pretest/France/France.xlsx
CD-valid/Outcomes/Pretest/Germany/Germany.xlsx
CD-valid/Outcomes/Pretest/Germany/Germany Validation Report.html
CD-valid/Outcomes/Pretest/Hungary/Hungary Validation Report.html
CD-valid/Outcomes/Pretest/Hungary/Hungary.xlsx
CD-valid/Outcomes/Pretest/Italy/Italy Validation Report.html
CD-valid/Outcomes/Pretest/Italy/Italy.xlsx
CD-valid/Outcomes/Pretest/Netherlands/Netherlands Validation Report.html
CD-valid/Outcomes/Pretest/Netherlands/Netherlands.xlsx
CD-valid/Outcomes/Pretest/Slovakia/Slovakia Validation Report.html
CD-valid/Outcomes/Pretest/Slovakia/Slovakia.xlsx
CD-valid/Outcomes/Pretest/Slovenia/Slovenia Validation Report.html
CD-valid/Outcomes/Pretest/Slovenia/Slovenia.xlsx
CD-valid/Outcomes/Pretest/Spain/Spain Validation Report.html
CD-valid/Outcomes/Pretest/Spain/Spain.xlsx
CD-valid/Outcomes/Pretest/Sweden/Sweden Validation Report.html
CD-valid/Outcomes/Pretest/Sweden/Sweden.xlsx
CD-valid/Outcomes/Pretest/Croatia/Croatia.xlsx
CD-valid/Outcomes/Pretest/Croatia/Croatia Validation Report.html
CD-valid/Outcomes/Pretest/Latvia/Latvia Validation Report.html
CD-valid/Outcomes/Pretest/Latvia/Latvia.xlsx
CD-valid/Outcomes/Pretest/Poland/Poland.xlsx
CD-valid/Outcomes/Pretest/Poland/Poland Validation Report.html
CD-valid/Outcomes/Pretest/Romania/Romania Validation Report.html
CD-valid/Outcomes/Pretest/Romania/Romania.xlsx
CD-valid/Input/EUS_GPP Report_Outline_240110.xlsx
CD-valid/Outcomes/Full Fieldwork/Luxembourg/Luxembourg.xlsx
CD-valid/Outcomes/Full Fieldwork/Luxembourg/Luxembourg Full Fieldwork Validation Report.html
CD-valid/Outcomes/Full Fieldwork/Hungary/Hungary.xlsx
CD-valid/Outcomes/Full Fieldwork/Hungary/Hungary Full Fieldwork Validation Report.html
CD-valid/Outcomes/Full Fieldwork/flagging_system_extended.xlsx
CD-valid/Outcomes/Full Fieldwork/flagging_system.xlsx
CD-valid/Outcomes/
Presentations/First Stage Validation Process.pptx
CD-valid/Input/Metadatatps.xlsx
